# Dossiers de compilation
/bin/
/archives

# Ignore Gradle project-specific cache directory
src/geoanalytique/.gradle

src/geoanalytique/lib/build
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
